/*#data {
	border-collapse: collapse;
	width: 100%;
}

#data td, #data th {
	border: 1px;
	padding:  5px;
}

#data tr:hover {
	background-color: #ddd;
}

#data tr:nth-child(even){
	background-color: #f2f2f2;
}

#data th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #8b9bb5;
	color: white;
}

*/

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	width: 100%;
}

.styled-table thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

.styled-table th,
.styled-table td {
	padding 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
